<ng-container>
    <div class="home-content">
      <h1>Dobrodošli</h1>
      <p>
       Dobrodošli u aplikaciju za vođenje evidencije o bankama! 
       Naša aplikacija je sveobuhvatan sistem za efikasno vođenje podataka o klijentima, 
       filijalama, uslugama i korisnicima usluga.
      </p>
      <p>
        Sa fokusom na vaše potrebe, naša aplikacija omogućava precizno praćenje i 
        upravljanje svakim aspektom bankarskog poslovanja. Bez obzira da li upravljate 
        klijentima, pružate usluge ili radite u filijalama, naša aplikacija vam omogućava 
        da lako upravljate podacima i ostvarite izvanredno korisničko iskustvo.
      </p>
      <p>
        Pratite podatke o klijentima sa preciznošću, upravljajte uslugama prilagođenim 
        njihovim potrebama i efikasno koordinirajte rad filijala. Sve to uz mogućnost 
        personalizovane podrške za svakog korisnika.
      </p>
      <p>
        Ukratko, naša aplikacija je vaš pouzdan partner u vođenju bankarskog poslovanja. 
        Kontaktirajte nas kako biste saznali više o tome kako naša aplikacija može unaprediti 
        vaše poslovanje. Hvala vam što ste odabrali našu aplikaciju!
      </p>
    </div>
  </ng-container>
