<ng-container>
    <div class="author-content">
      <h1>O Autoru</h1>
      <p>
        Zovem se Anđela Šestak i student sam fakulteta tehničkih nauka u Novom
        Sadu, na smeru inženjerstvo informacionih sistema. Živim u Kuli i 
      </p>
      <p>
        Ova aplikacija je rezultat projekta koji radim na predmetu razvoj višeslojnih
        aplikacija. Kroz svoje studije, stekla sam širok spektar veština u programiranju, 
        dizajniranju korisničkog iskustva i upravljanju projektima. Verujem u timski rad i 
        kontinuirano učenje kako bih stalno unapređivala svoje veštine i dostigla nove visine 
        u svetu tehnologije.
      </p>
      <p>
        Ova aplikacija će unaprediti način na koji banke upravljaju svojim podacima. 
        Inspirisana sam idejom da stvorim intuitivno i pristupačno bankarsko iskustvo koje 
        će omogućiti korisnicima da efikasno upravljaju svojim podacima o korisnicima, uslugama
        i filijalama.
      </p>
    </div>
  </ng-container>
