<ng-container>
    <div class="about-content">
      <h1>O Nama</h1>
      <p>
        Dobrodošli u našu banku! Naša misija je da vam pružimo sigurne, pouzdane i jednostavne
        bankarske usluge putem naše aplikacije. Mi smo vodeća banka sa dugogodišnjim iskustvom, 
        posvećena inovacijama i pružanju prilagođenih finansijskih rešenja.
        Naše vrednosti uključuju inovaciju, jer stalno unapređujemo usluge kako bismo vam pružili
         najmodernija rešenja. Pouzdanost je naš prioritet, a vaša sigurnost nam je najvažnija. 
         Pristupačnost je takođe ključna – naša aplikacija je intuitivna i laka za korišćenje.
        Uvek stavljamo klijente na prvo mesto i pružamo izvanrednu korisničku podršku.
      </p>
      <p>
        Nudimo online bankarstvo koje vam omogućava da pratite račune i transakcije, kao i 
        štedne i investicione račune za upravljanje vašim finansijama. Takođe, možete aplicirati 
        za kredite direktno iz aplikacije i dobiti personalizovane finansijske savete.
      </p>
      <h2>Kontakt</h2>
      <p>
        Za pitanja ili pomoć, možete nas kontaktirati putem aplikacije ili posetiti našu 
        poslovnicu. Hvala što ste odabrali našu banku!
      </p>
    </div>
  </ng-container>
  
